set default=0
set timeout=15

source /boot/grub/config.cfg

# Live boot
menuentry "Запустити NetherOS" --hotkey=l {
	linux	/live/vmlinuz-6.12.101+deb13-amd64 boot=live locales=uk_UA.UTF-8 keyboard-layouts=us findiso=${iso_path}
	initrd	/live/initrd.img-6.12.101+deb13-amd64
}
menuentry "Запустити NetherOS (БЕЗПЕЧНИЙ РЕЖИМ)" {
	linux	/live/vmlinuz-6.12.101+deb13-amd64 boot=live components memtest noapic noapm nodma nomce nosmp nosplash vga=788
	initrd	/live/initrd.img-6.12.101+deb13-amd64
}

if true; then
fi

submenu 'Утиліти' --hotkey=u {

	source /boot/grub/theme.cfg

	# Memtest (if any)
	if false; then
		source /boot/grub/memtest.cfg
	fi

	# Firmware setup (UEFI)
	if [ "${grub_platform}" = "efi" ]; then
		menuentry "Налаштування мікропрограми UEFI" --hotkey=f {
			fwsetup
		}
	fi

	# Verify the checksums
	if true; then
		menuentry "Verify integrity of the boot medium" --hotkey=v {
			linux	/live/vmlinuz-6.12.101+deb13-amd64 boot=live locales=uk_UA.UTF-8 keyboard-layouts=ua findiso=${iso_path} verify-checksums
			initrd	/live/initrd.img-6.12.101+deb13-amd64
		}
	fi
}
